body {
    background: #64B5F6;
    font-family: "Lucida Console", "Courier New", monospace;
}

iframe.thinglink {
    width:960px; 
    height:720px;}
 
 
 
figure {
    width: 30%;
    background: /*#D84315*/ #2874a6 ;
    ;
}

img {
    width: 80%;
}


img {
    width: 80%;
    margin-left:10%;
    margin-right:10%;
}


img#PSB {
    width: 10%;
}




div.flex {
    
   display:flex; 
   
}
section {
    background:  #2874a6  ;
    width: 90%;
    margin: auto;
}







