body {
    background: #4F4F4F;
    font-family: "Lucida Console", "Courier New", monospace;
    margin: 0;
    padding: 0;
    padding-top: 90px;  /* space for the fixed navbar */
}

iframe.thinglink {
    width: 960px;
    height: 720px;
}

figure {
    width: 30%;
    background: #BD4315;
}

img {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

img#PSB {
    width: 80%;
}

div.flex {
    display: flex;
}

section {
    background: #9C9C9C;
    width: 90%;
    margin: auto;
    padding: 20px;
}


/* -------------------- NAVIGATION BAR -------------------- */

.nav-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4F4F4F;
    padding: 20px 0;
    width: 100%;

    /* FIXES CLICKING ISSUE */
    position: fixed;   /* stays at top */
    top: 0;
    left: 0;

    z-index: 9999;     /* above everything */
}

.nav-bar {
    display: flex;
    gap: 40px;
}

.nav-bar a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
    pointer-events: auto;  /* ensures clickability */
}

.nav-bar a:hover {
    text-decoration: underline;
}




